<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.donut.wx341dde1fd385d9eb">


    <application >

        <service xmlns:android="http://schemas.android.com/apk/res/android"
            android:name=".PluginPushService"
            android:process=":pushservice"
            />

        <service xmlns:android="http://schemas.android.com/apk/res/android"
            android:name=".PluginIntentService" />

    </application>

</manifest>
